#Visual Studio Code fluff
.vscode/

#Visual Studio fluff
.vs/

#CMake fluff
build/

#Doxygen generated docs
docs/
docs/html/

#Dependencies, which should be installed via Git's submodule mechanisms
#git submodule update --init --recursive
dependencies/V-EZ/
